<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: baseheader">

</head>
<body>
<div th:replace="base :: navlinks"></div>

<div class="container">

    <div class="input-group" style="width: 25%; margin-bottom: 20px">
        <input id="input" class="form-control rounded " placeholder="Search" aria-label="Search"
               aria-describedby="search-addon"/>
        <button id="inputbtn" onclick="searchTerm()" type="button" class="btn btn-light cs-action-button">

            search
        </button>
    </div>
</div>
<!--<div th:replace="base :: footer " id="testme"></div>-->
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>