<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: baseheader">
    <title>List</title>

    <style>
        body {
            background-color: #AA4586;
        }
    </style>
</head>

<body>
<div th:replace="base :: navlinks"></div>
<div th:replace="base :: footer "></div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>